build/
!./build/build.sh
!./build/proto_code.sh
framework/res/engine.yaml

framework/bin/
framework/log/
framework/src/apps/*/CMakeFiles/
framework/src/apps/*/cmake_install.cmake
framework/src/apps/*/CMakeCache.txt
framework/src/apps/*/Makefile
framework/src/libs/*/CMakeFiles/
framework/src/libs/*/cmake_install.cmake
framework/src/libs/*/CMakeCache.txt
framework/src/libs/*/Makefile
framework/src/tools/robots/CMakeFiles/
framework/src/tools/robots/cmake_install.cmake
framework/src/tools/robots/CMakeCache.txt
framework/src/tools/robots/Makefile
dependence/*/